 model-viewer#rooster {
  --poster-color: transparent;
}


#rooster {
  /* display: inline;
  position: absolute; */
  width: 650px;
  height: 650px;
  margin-top: 30px;
  /* z-index: 0; */
}

@media (max-width: 1515px) {
  #rooster {
    margin-top: -25px; 
  }
}