#headerText {
  /* background: linear-gradient(to right, black 2.5px, transparent 6px) 0 20%,
    linear-gradient(to left, black 2.5px, transparent 6px) 100% 20%,
    linear-gradient(to bottom, black 2.5px, transparent 6px) 50% 10%,
    linear-gradient(to top, black 2.5px, transparent 6px) 0 60%;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 110px;
  padding: 25px;
  padding-top: 45px; */
 
}
 
@media (max-width: 420px) {
  #headerText {
    background: none;
    background-repeat: no-repeat;
    background-size: 0px 0px;
    margin-top: -220px;
  }
}

 