 @media screen and (max-width: 435px) {

 	#like {
 		transform: scale(0.8);
 	}

 	#footerText {
 		flex-direction: column;
		 
 	}

 }


 .box {
 	display: flex;
 	transform: scale(1);
 }

 .box .inner {
 	width: 400px;
 	height: 200px;
 	line-height: 200px;
 	font-size: 4em;
 	font-family: sans-serif;
 	font-weight: bold;
 	white-space: nowrap;
 	overflow: hidden;
 }

 .box .inner:first-child {
 	background-color: white;
 	color: black;
 	transform-origin: right;
 	transform: perspective(100px) rotateY(-15deg);
 }

 .box .inner:last-child {
 	background-color: grey;
 	color: antiquewhite;
 	transform-origin: left;
 	transform: perspective(100px) rotateY(15deg);
 }

 .box .inner span {
 	position: absolute;
 	animation: marquee 5s linear infinite;
 }

 .box .inner:first-child span {
 	animation-delay: 1.1s;
 	left: -50%;
 }

 @keyframes marquee {
 	from {
 		left: 100%;
 	}

 	to {
 		left: -390%;
 	}
 }