@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

@media (max-width: 805px) {
  .wrapper .title {
    font-size: 6.5vw;
  }

  .wrapper .title:before {
    font-size: 6.5vw;
  }
}

@media (max-width: 480px) {
  .wrapper .title {
    font-size: 25px;
  }

  .wrapper .title:before {
    font-size: 25px;
  }
}

.wrapper {
  animation: sliding-background 20s linear infinite;
  /* background: url("../../imgs/textures/TextureA.jpg") no-repeat left / 120%; */
  /* background: url("../../imgs/textures/background-6793839_1920.jpg") no-repeat left / 120%; */
     background: url("../../imgs/textures/StockSnap_NK0GQNMKMQ.jpg") no-repeat left / 120%;
  height: 49vh;
  text-align: center;
  width: 100vw;
  margin-top: -220px;
  margin-bottom: -200px;
  overflow: visible;
  
}

.title {
  background: white;
  color: black;
  
  font-family: "altFont", sans-serif;
  font-size: 85px;
  font-weight: 900;
  letter-spacing: 1vw;
  line-height: 50vh;
  margin-bottom:-50px;
  margin-left:auto;
  padding-top: 20px;
  margin-right:auto;
  text-align: center;
  /* overflow-wrap: break-word; */
  mix-blend-mode: lighten;
  text-transform: uppercase;
  /* -webkit-text-stroke: 2px black; */
 


}

.title:before {
  color: black;
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
 

}

@keyframes sliding-background {

  0%,
  100% {
    background-position: 40% 0;
  }

  50% {
    background-position: 100% 40%;
  }
}