@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

@font-face {
  font-family: "heroFont";
  src: url("./fonts/Brush/LALOUZZ.ttf");
}

@font-face {
  font-family: "brandFont";
  /* src: url("./fonts/brandText/MACCOS_DOUBLE_Demo.otf") format("opentype"); */
  src: url("./fonts/brandText/Loce.ttf") format("opentype");
}

@font-face {
  font-family: "cursiveFont";
  /* src: url("./fonts/brandText/MACCOS_DOUBLE_Demo.otf") format("opentype"); */
  src: url("./fonts/cursive/Havana.ttf");
}


@font-face {
  font-family: "aboutHeaderFont";
  /* src: url("./fonts/brandText/MACCOS_DOUBLE_Demo.otf") format("opentype"); */
  src: url("./fonts/about/Glaschu-Inline.otf") format("opentype");
  ;
}

@font-face {
  font-family: "aboutFont";
  /* src: url("./fonts/brandText/MACCOS_DOUBLE_Demo.otf") format("opentype"); */
  src: url("./fonts/about/Branding Pro Regular.otf") format("opentype");
  ;
}







@font-face {
  font-family: "heroFont";

  /* FAVORITES */
  /* HERO H1 */
  src: url("./fonts/Brush/LALOUZZ.ttf");


}

@font-face {
  font-family: "menuFont";


  /* ALL */
  src: url("./fonts/Brush/Midnight\ Sun\ DEMO.otf");


}

@font-face {
  font-family: "cardFont";
  src: url("./fonts/heroTapeFont/Trincha.ttf");
}



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}